<!doctype html>

<body>
  <header>
    <h1>Death Statistics Around the World</h1>
  </header>

  <nav class="navbar">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a id="home" href="#">Home</a></li>
        <li><a id="about" href="../build/about.html">About</a></li>
      </ul>
    </div>
  </nav>
