<!doctype html>

<footer class="page-footer">
  <h6><a href="https://data.worldbank.org/indicator/SP.DYN.LE00.IN" target="_blank">Our Data Source</a></h6>
  <div class="footer-copyright">
    <p style="text-align: center; color:gray;">
      © 2021 Ursula C. Parker and Malachy Guzman <br />
    </p>
  </div>
</footer>

<script src="js/scripts.js"></script>

</body>

</html>
